<a href="https://colab.research.google.com/github/innaraarif26-create/Data-SCIENCE-AND-AI/blob/main/CustyomerChurnPredictionUsing_ANN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Churn_Modelling.csv')
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [ ]:
df.drop(columns=['RowNumber', 'CustomerId', 'Surname'], inplace=True)
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [ ]:
df =pd.get_dummies(df, columns=['Geography', 'Gender'], drop_first=True)
df

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,False,False,False
1,608,41,1,83807.86,1,0,1,112542.58,0,False,True,False
2,502,42,8,159660.80,3,1,0,113931.57,1,False,False,False
3,699,39,1,0.00,2,0,0,93826.63,0,False,False,False
4,850,43,2,125510.82,1,1,1,79084.10,0,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,False,False,True
9996,516,35,10,57369.61,1,1,1,101699.77,0,False,False,True
9997,709,36,7,0.00,1,0,1,42085.58,1,False,False,False
9998,772,42,3,75075.31,2,1,0,92888.52,1,True,False,True
9999,792,28,4,130142.79,1,1,0,38190.78,0,False,False,False

In [ ]:
import sklearn
from sklearn.model_selection import train_test_split

X = df.drop(columns=['Exited'])
y = df['Exited']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler= StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)


X_train_scaled

array([[ 0.35649971, -0.6557859 ,  0.34567966, ..., -0.57946723,
        -0.57638802,  0.91324755],
       [-0.20389777,  0.29493847, -0.3483691 , ...,  1.72572313,
        -0.57638802,  0.91324755],
       [-0.96147213, -1.41636539, -0.69539349, ..., -0.57946723,
         1.73494238,  0.91324755],
       ...,
       [ 0.86500853, -0.08535128, -1.38944225, ..., -0.57946723,
        -0.57638802, -1.09499335],
       [ 0.15932282,  0.3900109 ,  1.03972843, ..., -0.57946723,
        -0.57638802,  0.91324755],
       [ 0.47065475,  1.15059039, -1.38944225, ...,  1.72572313,
        -0.57638802,  0.91324755]])

In [ ]:
import tensorflow
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

model = Sequential()
model.add(Dense(3, activation='sigmoid', input_dim=11))
model.add(Dense(1, activation='sigmoid'))

model.summary()

/usr/local/lib/python3.12/dist-packages/keras/src/layers/core/dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 3)              │            36 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 1)              │             4 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 40 (160.00 B)

 Trainable params: 40 (160.00 B)

 Non-trainable params: 0 (0.00 B)

In [ ]:
model.compile(optimizer='Adam', loss='binary_crossentropy', metrics=['accuracy'])

In [ ]:
model.fit(X_test_scaled,y_train,epochs=100, validation_split=0.2)

Epoch 1/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 3s 11ms/step - accuracy: 0.7214 - loss: 0.6113 - val_accuracy: 0.7225 - val_loss: 0.6243
Epoch 2/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.7922 - loss: 0.5799 - val_accuracy: 0.7625 - val_loss: 0.6045
Epoch 3/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.8060 - loss: 0.5585 - val_accuracy: 0.7625 - val_loss: 0.5902
Epoch 4/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8077 - loss: 0.5406 - val_accuracy: 0.7625 - val_loss: 0.5800
Epoch 5/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.8035 - loss: 0.5315 - val_accuracy: 0.7625 - val_loss: 0.5727
Epoch 6/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.7882 - loss: 0.5302 - val_accuracy: 0.7625 - val_loss: 0.5680
Epoch 7/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8052 - loss: 0.5069 - val_accuracy: 0.7625 - val_loss: 0.5648
Epoch 8/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8046 - loss: 0.5047 - val_accuracy: 0.7625 - val_loss: 0.5630
Epoch 9/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.7983 - loss: 0.5064 - val_accuracy: 0.7625 - val_loss: 0.5614
Epoch 10/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.8025 - loss: 0.5014 - val_accuracy: 0.7625 - val_loss: 0.5606
Epoch 11/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.7986 - loss: 0.5052 - val_accuracy: 0.7625 - val_loss: 0.5603
Epoch 12/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.7800 - loss: 0.5273 - val_accuracy: 0.7625 - val_loss: 0.5599
Epoch 13/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8020 - loss: 0.4984 - val_accuracy: 0.7625 - val_loss: 0.5597
Epoch 14/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8085 - loss: 0.4869 - val_accuracy: 0.7625 - val_loss: 0.5596
Epoch 15/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.8007 - loss: 0.4978 - val_accuracy: 0.7625 - val_loss: 0.5595
Epoch 16/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.7981 - loss: 0.5018 - val_accuracy: 0.7625 - val_loss: 0.5594
Epoch 17/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.8141 - loss: 0.4798 - val_accuracy: 0.7625 - val_loss: 0.5593
Epoch 18/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8049 - loss: 0.4907 - val_accuracy: 0.7625 - val_loss: 0.5590
Epoch 19/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8124 - loss: 0.4785 - val_accuracy: 0.7625 - val_loss: 0.5592
Epoch 20/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.7892 - loss: 0.5108 - val_accuracy: 0.7625 - val_loss: 0.5583
Epoch 21/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.7941 - loss: 0.5069 - val_accuracy: 0.7625 - val_loss: 0.5583
Epoch 22/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.7812 - loss: 0.5238 - val_accuracy: 0.7625 - val_loss: 0.5582
Epoch 23/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8117 - loss: 0.4825 - val_accuracy: 0.7625 - val_loss: 0.5581
Epoch 24/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.7830 - loss: 0.5190 - val_accuracy: 0.7625 - val_loss: 0.5578
Epoch 25/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.7925 - loss: 0.5069 - val_accuracy: 0.7625 - val_loss: 0.5577
Epoch 26/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.7816 - loss: 0.5240 - val_accuracy: 0.7625 - val_loss: 0.5576
Epoch 27/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.7970 - loss: 0.5002 - val_accuracy: 0.7625 - val_loss: 0.5575
Epoch 28/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.7997 - loss: 0.4995 - val_accuracy: 0.7625 - val_loss: 0.5575
Epoch 29/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8042 - loss: 0.4934 - val_accuracy: 0.7625 - val_loss: 0.5576
Epoch 30/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.8168 - loss: 0.4744 - val_accuracy: 0.7625 - val_loss: 0.5572
Epoch 31/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.8108 - loss: 0.4813 - val_accuracy: 0.7625 - val_loss: 0.5572
Epoch 32/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.7847 - loss: 0.5178 - val_accuracy: 0.7625 - val_loss: 0.5566
Epoch 33/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8009 - loss: 0.4980 - val_accuracy: 0.7625 - val_loss: 0.5570
Epoch 34/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.7976 - loss: 0.5009 - val_accuracy: 0.7625 - val_loss: 0.5568
Epoch 35/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.7899 - loss: 0.5082 - val_accuracy: 0.7625 - val_loss: 0.5568
Epoch 36/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.7969 - loss: 0.5012 - val_accuracy: 0.7625 - val_loss: 0.5566
Epoch 37/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8143 - loss: 0.4766 - val_accuracy: 0.7625 - val_loss: 0.5567
Epoch 38/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8103 - loss: 0.4818 - val_accuracy: 0.7625 - val_loss: 0.5566
Epoch 39/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.8094 - loss: 0.4862 - val_accuracy: 0.7625 - val_loss: 0.5565
Epoch 40/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.8017 - loss: 0.4924 - val_accuracy: 0.7625 - val_loss: 0.5562
Epoch 41/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.8007 - loss: 0.4948 - val_accuracy: 0.7625 - val_loss: 0.5565
Epoch 42/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.8114 - loss: 0.4798 - val_accuracy: 0.7625 - val_loss: 0.5567
Epoch 43/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.7967 - loss: 0.5022 - val_accuracy: 0.7625 - val_loss: 0.5562
Epoch 44/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.7869 - loss: 0.5147 - val_accuracy: 0.7625 - val_loss: 0.5561
Epoch 45/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.7921 - loss: 0.5059 - val_accuracy: 0.7625 - val_loss: 0.5562
Epoch 46/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.7885 - loss: 0.5120 - val_accuracy: 0.7625 - val_loss: 0.5566
Epoch 47/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.7853 - loss: 0.5204 - val_accuracy: 0.7625 - val_loss: 0.5561
Epoch 48/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.7839 - loss: 0.5202 - val_accuracy: 0.7625 - val_loss: 0.5565
Epoch 49/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8035 - loss: 0.4925 - val_accuracy: 0.7625 - val_loss: 0.5565
Epoch 50/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.8121 - loss: 0.4782 - val_accuracy: 0.7625 - val_loss: 0.5564
Epoch 51/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.8009 - loss: 0.4958 - val_accuracy: 0.7625 - val_loss: 0.5563
Epoch 52/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step - accuracy: 0.7941 - loss: 0.5058 - val_accuracy: 0.7625 - val_loss: 0.5565
Epoch 53/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.7981 - loss: 0.4990 - val_accuracy: 0.7625 - val_loss: 0.5561
Epoch 54/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.8006 - loss: 0.4959 - val_accuracy: 0.7625 - val_loss: 0.5561
Epoch 55/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.7956 - loss: 0.5063 - val_accuracy: 0.7625 - val_loss: 0.5560
Epoch 56/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.7933 - loss: 0.5040 - val_accuracy: 0.7625 - val_loss: 0.5566
Epoch 57/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.7947 - loss: 0.5080 - val_accuracy: 0.7625 - val_loss: 0.5562
Epoch 58/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8023 - loss: 0.4889 - val_accuracy: 0.7625 - val_loss: 0.5563
Epoch 59/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.8085 - loss: 0.4884 - val_accuracy: 0.7625 - val_loss: 0.5562
Epoch 60/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.8019 - loss: 0.4938 - val_accuracy: 0.7625 - val_loss: 0.5561
Epoch 61/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8085 - loss: 0.4866 - val_accuracy: 0.7625 - val_loss: 0.5561
Epoch 62/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8155 - loss: 0.4738 - val_accuracy: 0.7625 - val_loss: 0.5562
Epoch 63/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8017 - loss: 0.4923 - val_accuracy: 0.7625 - val_loss: 0.5562
Epoch 64/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8067 - loss: 0.4880 - val_accuracy: 0.7625 - val_loss: 0.5560
Epoch 65/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.7977 - loss: 0.4988 - val_accuracy: 0.7625 - val_loss: 0.5561
Epoch 66/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.7993 - loss: 0.4986 - val_accuracy: 0.7625 - val_loss: 0.5560
Epoch 67/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.7950 - loss: 0.5041 - val_accuracy: 0.7625 - val_loss: 0.5562
Epoch 68/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8008 - loss: 0.4960 - val_accuracy: 0.7625 - val_loss: 0.5561
Epoch 69/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.7985 - loss: 0.4974 - val_accuracy: 0.7625 - val_loss: 0.5562
Epoch 70/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.8071 - loss: 0.4866 - val_accuracy: 0.7625 - val_loss: 0.5566
Epoch 71/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.7951 - loss: 0.5031 - val_accuracy: 0.7625 - val_loss: 0.5561
Epoch 72/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.8087 - loss: 0.4844 - val_accuracy: 0.7625 - val_loss: 0.5560
Epoch 73/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8080 - loss: 0.4851 - val_accuracy: 0.7625 - val_loss: 0.5563
Epoch 74/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.8009 - loss: 0.4988 - val_accuracy: 0.7625 - val_loss: 0.5559
Epoch 75/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.7918 - loss: 0.5083 - val_accuracy: 0.7625 - val_loss: 0.5561
Epoch 76/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.7995 - loss: 0.4968 - val_accuracy: 0.7625 - val_loss: 0.5562
Epoch 77/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.7760 - loss: 0.5250 - val_accuracy: 0.7625 - val_loss: 0.5562
Epoch 78/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.8011 - loss: 0.4964 - val_accuracy: 0.7625 - val_loss: 0.5562
Epoch 79/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.8040 - loss: 0.4870 - val_accuracy: 0.7625 - val_loss: 0.5561
Epoch 80/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.7935 - loss: 0.5024 - val_accuracy: 0.7625 - val_loss: 0.5559
Epoch 81/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.7830 - loss: 0.5182 - val_accuracy: 0.7625 - val_loss: 0.5561
Epoch 82/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.7974 - loss: 0.5020 - val_accuracy: 0.7625 - val_loss: 0.5561
Epoch 83/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.8008 - loss: 0.4957 - val_accuracy: 0.7625 - val_loss: 0.5562
Epoch 84/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.8077 - loss: 0.4854 - val_accuracy: 0.7625 - val_loss: 0.5562
Epoch 85/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.7966 - loss: 0.4980 - val_accuracy: 0.7625 - val_loss: 0.5561
Epoch 86/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8027 - loss: 0.4911 - val_accuracy: 0.7625 - val_loss: 0.5563
Epoch 87/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.7774 - loss: 0.5275 - val_accuracy: 0.7625 - val_loss: 0.5563
Epoch 88/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.7973 - loss: 0.5004 - val_accuracy: 0.7625 - val_loss: 0.5561
Epoch 89/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.7897 - loss: 0.5110 - val_accuracy: 0.7625 - val_loss: 0.5561
Epoch 90/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8083 - loss: 0.4833 - val_accuracy: 0.7625 - val_loss: 0.5564
Epoch 91/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.7882 - loss: 0.5086 - val_accuracy: 0.7625 - val_loss: 0.5563
Epoch 92/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.7944 - loss: 0.5028 - val_accuracy: 0.7625 - val_loss: 0.5561
Epoch 93/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.7972 - loss: 0.5000 - val_accuracy: 0.7625 - val_loss: 0.5565
Epoch 94/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.7985 - loss: 0.4986 - val_accuracy: 0.7625 - val_loss: 0.5563
Epoch 95/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8029 - loss: 0.4907 - val_accuracy: 0.7625 - val_loss: 0.5564
Epoch 96/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.7963 - loss: 0.4993 - val_accuracy: 0.7625 - val_loss: 0.5562
Epoch 97/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.8018 - loss: 0.4916 - val_accuracy: 0.7625 - val_loss: 0.5562
Epoch 98/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.7974 - loss: 0.4970 - val_accuracy: 0.7625 - val_loss: 0.5564
Epoch 99/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.8043 - loss: 0.4889 - val_accuracy: 0.7625 - val_loss: 0.5566
Epoch 100/100
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.8092 - loss: 0.4834 - val_accuracy: 0.7625 - val_loss: 0.5561

In [ ]:
model.layers[0].get_weights()

[array([[ 0.16573204, -0.57842547, -0.17436193],
        [-0.46766677,  0.5175123 , -0.5508255 ],
        [ 0.23995289, -0.48354337, -0.2496472 ],
        [ 0.51215506, -0.0080661 ,  0.12771122],
        [ 0.04060899,  0.4660567 ,  0.22659339],
        [-0.11645284,  0.03948021, -0.5634246 ],
        [-0.18139933,  0.20962721, -0.2628037 ],
        [ 0.62970483, -0.33331904,  0.607465  ],
        [-0.60786813, -0.24983495, -0.8998206 ],
        [-0.29991868, -0.3504185 , -0.22145505],
        [ 0.09944992, -0.78744304, -0.4955003 ]], dtype=float32),
 array([ 0.42755747,  0.46182826, -0.3764381 ], dtype=float32)]

In [ ]:
ylog=model.predict(X_test_scaled)

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step

In [ ]:
ypred=np.where(ylog >0.5,1,0)

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,ypred)

0.8035